<hr />
_Vicente Herrera is a software engineer working on cloud native cybersecurity (cloud, containers, Kubernetes).  
His latest job is cybersecurity specialist at [Control Plane](https://control-plane.io){:target="_blank"}, and previously was Product Manager at [Sysdig](https://sysdig.com){:target="_blank"}.  
He is the published author of [Building Intelligent Cloud Application](https://www.oreilly.com/library/view/building-intelligent-cloud/9781492052319/){:target="_blank"} (O'Reilly, 2019) about using serverless and machine learning services with Azure.  
He has been involved in several research projects for using AI on healthcare and automatic code generation._