<div class="card">
  <a href="{{ post.url | relative_url }}">
    <div class="card-body">
      {% include post-thumbnail.html %}<br />

      {% include timeago.html date=post.date class="small" %}
      <h3 class="pt-0 mt-1 mb-3" data-toc-skip>{{ post.title }}</h3>
      <div class="text-muted small">
        <p>
          {% include no-linenos.html content=post.content %}
          {{ content | markdownify | strip_html | truncate: 200 | escape }}
        </p>
      </div>
    </div>
  </a>
</div>