If there is some information I missed in this article, or you just want to chat with me, 
[<i class="fab fa-twitter" style="color:#1DA1F2;" aria-hidden="true"></i> let me know](https://twitter.com/vicen_herrera){:target="_blank"}.

And if you found this information extremely useful to you, why not let others know? 
[<i class="fab fa-twitter" style="color:#1DA1F2;" aria-hidden="true"></i> Share it in a tweet](https://twitter.com/share?url={{ site.url }}{{ page.url }}&title={{ page.title | url_encode }}){:target="_blank"}, 
or [invite me to coffee](https://ko-fi.com/R5R77UF84){:target="_blank"}!