---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

/* Site title */

#sidebar .site-title a {
  color: #05656f;
}
@mixin title-color-dark {
  #sidebar .site-title a {
    color: #30959f;
  }
}

/* Thumbnails in home */

.thumbnail {
  width: 180px;
  height: auto;
  border-radius: 7px;
  margin:3px 15px 5px 0;
  background-size: cover;
}
.post-meta-mobile.d-flex  {
  display: none !important;
}
.thumb-container {
  width: 190px; float: left;

}
#post-list .post-preview .thumb-container a:hover
{
  border-bottom: none;
}

#post-list .post-preview .post-content>p {
  -webkit-line-clamp: 3;
}

@media (max-width: 849px) {
  .thumbnail {
    width: 100%;
    height: auto;
  }
  .post-meta-mobile.d-flex {
    display: inherit !important;
  }
  .post-meta-desktop.d-flex {
    display: none !important;
  }
  .thumb-container {
    width: 100%;
    float: inherit;
  }
}

/* Bold text */

b, strong {
  font-weight: 600;
  color: black
}

@mixin strong-color-dark {
  b, strong {
    color: white;
  }
}

/* Alerts */

.alert-warning .fas {
  color: orange;
}
.alert-info .fas {
  color: navy;
}
.vicente-opinion {
  background-image: url(/blog/v.png);
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 90px;
  min-height: 80px;
}

@mixin alerts-dark {
  .alert-warning {
    color: #b4ab91;
    background-color: #3a372f;
    border: 1px solid #8d8671;
    .fas {
      color: orange;
    }
  }
  .alert-info {
    color: #18acc3;
    background-color: #07333a;
    border: 1px solid #10707f;
    .fas {
      color: #5d73ff;
    }
  }
  .alert-success {
    color: #A5D9B1;
    background-color: #40441C;
    border: 1px solid #787F35;
  }
}

/* Fix blockquote color */

.quote {
  color: #666;
  font-style: italic;
}
@mixin quote-dark {
  .quote {
    color:#888;
  }
}

/* Dashed table */

table.dashed-table tbody tr, table.dashed-table tbody td {
  border: 1px dashed #999;
}

/* Dark theme mixins */

@mixin dark-theme-mixins {
  @include strong-color-dark;
  @include title-color-dark;
  @include alerts-dark;
  @include quote-dark;
}

html[mode=dark] {
  @include dark-theme-mixins;
}

@media screen and (prefers-color-scheme: dark) {
  html:not([mode=light]) {
    @include dark-theme-mixins;
  }
}