---
layout: page
# The Home page layout
---

{% include lang.html %}

{% assign pinned = site.posts | where: "pin", "true" %}
{% assign default = site.posts | where_exp: "item", "item.pin != true" %}

{% assign posts = "" | split: "" %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}


<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num  %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}

<div id="post-list">

{% for post in posts %}

  <div class="post-preview" style="clear: left">

    {% if post.image.src %}
      <div class="thumb-container">
        <a href="{{ post.url | relative_url }}">{% include post-thumbnail.html %}</a><br />
        <!-- post meta under image -->
        {% include post-meta.html extra_class='post-meta-desktop thumbnail-meta' %}
      </div>
      <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
    {% else %}
      <h1>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h1>
    {% endif %}
    
    <div class="post-content">
      <p>
        {% if post.description %}
          {{ post.description | markdownify | strip_html | truncate: 200 }}
        {% else if post.excerpt %}
          {{ post.excerpt | markdownify | strip_html | truncate: 200 }}
        {% else %}
          {% include no-linenos.html content=post.content %}
          {{ content | markdownify | strip_html | truncate: 200 }}
        {% endif %}
      </p>
    </div>

    <!-- post meta under post on responsive -->
    {% if post.image.src %}
      {% include post-meta.html extra_class='post-meta-mobile thumbnail-meta' %}
    {% else %}
      {% include post-meta.html extra_class='post-meta-mobile' %}
    {% endif %}

  </div> <!-- .post-review -->

{% endfor %}

</div> <!-- #post-list -->

{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}
